Flask==2.3.3
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
Flask-PyMongo==2.3.0
Werkzeug==2.3.8

# Base de datos
pymongo==4.6.1

# Utilidades
python-dotenv
gunicorn
requests

# OpenCV (versión headless para servidores sin GUI como Render)
opencv-python-headless==4.9.0.80

# NumPy y SciPy
numpy==1.26.4
scipy==1.13.0

# Matplotlib
matplotlib==3.8.4
kiwisolver==1.4.5

# PDF y utilitarios
reportlab==4.1.0
pillow==10.3.0

# PyTorch (de preferencia especificar versión)
torch==2.2.2  # o la versión que usaste localmente
gdown
